<div class="employees-dashboard">
  <div class="employees-card">
    <div class="employees-card__header">
      <h2>Zmiana hasła</h2>
    </div>

    <form
      class="employees-form-wrapper"
      [formGroup]="form"
      (ngSubmit)="onSubmit()"
    >
      <div class="form-row">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Aktualne hasło</mat-label
          ><input
            matInput
            type="password"
            formControlName="currentPassword"
            placeholder="Aktualne hasło"
        /></mat-form-field>
      </div>

      <div class="form-row">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Nowe hasło</mat-label
          ><input
            matInput
            type="password"
            formControlName="newPassword"
            placeholder="Nowe hasło"
          />
        </mat-form-field>

        <div class="form-row">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Powtórz nowe hasło </mat-label
            ><input
              matInput
              type="password"
              formControlName="confirmNewPassword"
              placeholder="Powtórz nowe hasło"
            />
          </mat-form-field>
        </div>
      </div>

      <div *ngIf="error">{{ error }}</div>
      <div *ngIf="success">{{ success }}</div>

      <div class="form-actions">
        <button
          mat-flat-button
          color="primary"
          type="submit"
          [disabled]="form.invalid || isSubmitting"
        >
          {{ isSubmitting ? "Zmieniam..." : "Zmień hasło" }}
        </button>
      </div>
    </form>
  </div>
</div>
